.App {
  max-width: 768px;
  margin: 2rem auto;
  background-color: rgb(212, 212, 212);
  padding: 2rem 1rem;
}

.App > * {
  margin-bottom: 1.5rem;
}

.App input[type="text"],
.App input[type="button"],
.App button {
  padding: 0.25em 0.5em;
  margin: 0.25rem;
}

.App h1 {
  text-align: center;
}

.App h2 {
  text-align: center;
  /* margin: 2.5rem 0 1rem; */
}
